@model CampusConnect.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="User profile picture" class="img-fluid rounded-circle mb-3" width="150">
                    <h3>@Model.User.FullName</h3>

                </div>
            </div>


        </div>

        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Activity</h5>
                    <hr>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="questions-tab" data-bs-toggle="tab" data-bs-target="#questions" type="button" role="tab" aria-controls="questions" aria-selected="true">Recent Questions</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="answers-tab" data-bs-toggle="tab" data-bs-target="#answers" type="button" role="tab" aria-controls="answers" aria-selected="false">Recent Answers</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="questions" role="tabpanel" aria-labelledby="questions-tab">
                            @if (Model.RecentQuestions != null && Model.RecentQuestions.Any())
                            {
                                <ul class="list-group list-group-flush">
                                    @foreach (var question in Model.RecentQuestions)
                                    {
                                        <li class="list-group-item"><a href="/Questions/Details/@question.Id">@question.Title</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="p-3">No recent questions.</p>
                            }
                        </div>
                        <div class="tab-pane fade" id="answers" role="tabpanel" aria-labelledby="answers-tab">
                            @if (Model.RecentAnswers != null && Model.RecentAnswers.Any())
                            {
                                <ul class="list-group list-group-flush">
                                    @foreach (var answer in Model.RecentAnswers)
                                    {
                                        <li class="list-group-item"><a href="/Questions/Details/@answer.QuestionId">@answer.Content</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="p-3">No recent answers.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
